<a href="https://colab.research.google.com/github/anmolkumar2024/-Data-Structures-in-Python/blob/main/assigment_data_stracture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
# 1. Write a code to reverse a string.

str = ["american","standaerd","code","for","information","interchange"]

str.reverse()
print(str)

['interchange', 'information', 'for', 'code', 'standaerd', 'american']

In [39]:
# 2. Write a code to count the number of vowels in a string.
vowels = "aeiouAEIOU"
char = input("Enter a character: ")
count = 0

if char in vowels:
    count += 1
    print("Vowel count:", count)
else:
    print("no")

Enter a character: a
Vowel count: 1

In [40]:
# 3. Write a code to check if a given string is a palindrome or not.

str1 = input("Enter the first string : ")
str2 = input("Enter the second string : ")
print()

if(str1 == str2):
  print(" This string is palindrome")
else:
  print("this string is not palindrome")

Enter the first string : a
Enter the second string : b

this string is not palindrome

In [41]:
# 4. Write a code to check if two given strings are anagrams of each other..

str1 = "Act"
str2 = "cAt"

if sorted(str1) == sorted(str2):
  print("yes")

else:
  print("no")

yes

In [42]:
# 5 Write a code to find all occurrences of a given substring within another string.
import re

# Define the input string and substring
s = "hello world, hello universe"
substring = "hello"

# Find all occurrences using re.finditer
positions = [match.start() for match in re.finditer(substring, s)]

print(positions)

[0, 13]

In [43]:
# 7. Write a code to determine if a string has all unique characters.
from collections import Counter


def isUniqueChars(string):

    # Counting frequency
    freq = Counter(string)

    if(len(freq) == len(string)):
        return True
    else:
        return False

# driver code
st = "abcd"
print(isUniqueChars(st))

True

In [44]:
# 8.Write a code to convert a given string to uppercase or lowercase

str1 = "i love india"
s = str1.upper()
print(s)

print()

str2 = "I LOVE INDIA"
s1 = str2.lower()
print(s1)

I LOVE INDIA

i love india

In [45]:
# 9. Write a code to count the number of words in a string

word = ("banana","apple","banana","orange","banana","mango")
s = word.count("banana")
print(s)

3

In [46]:
# 10. Write a code to concatenate two strings without using the + operator

str1 = "DATA"
str2 = "ANALYTICS"
str3 ="{},{}".format(str1,str2)
print(str3)

DATA,ANALYTICS

In [47]:
# 11. Write a code to remove all occurrences of a specific element from a list

name = ["I AM FROM INDIA","UNITED STATE"]
name.remove("UNITED STATE")
print(name)

['I AM FROM INDIA']

In [48]:
# 12. Implement a code to find the second largest number in a given list of integers

num  = [11,22,33,44,555]
num.sort()
print(num)
print("second largest number is:",num[-2])

[11, 22, 33, 44, 555]
second largest number is: 44

In [49]:
# 13. Create a code to count the occurrences of each element in a list and return a dictionary
#     with elements as keys and their counts as values
def count_elements(lst):
    count_dict = {}
    for item in lst:
        if item in count_dict:
            count_dict[item] += 1
        else:
            count_dict[item] = 1
    return count_dict

# Example usage
my_list = ['apple', 'banana', 'apple', 'orange', 'banana', 'apple']
result = count_elements(my_list)
print(result)

{'apple': 3, 'banana': 2, 'orange': 1}

In [50]:
# 14. Write a code to reverse a list in-place without using any built-in reverse functions
a = [1, 2, 3, 4, 5]

# Reversing using slicing
a_reversed = a[::-1]
print(a_reversed)

[5, 4, 3, 2, 1]

In [51]:
# 15. Implement a code to find and remove duplicates from a list while preserving the original order of elements
a = [1, 2, 2, 3, 4, 4, 5]

b = list(dict.fromkeys(a))
print(b)

[1, 2, 3, 4, 5]

In [52]:
# 16. Create a code to check if a given list is sorted (either in ascending or descending order) or not
a = [1, 2, 3, 4, 5]
b = [5, 4, 3, 2, 1]

# Here, sorted(), sort list in ascending order
print(a == sorted(a))
print(b == sorted(b))

True
False

In [53]:
# 17. Write a code to merge two sorted lists into a single sorted list
a = [1, 3, 5]
b = [2, 4, 6]

c = sorted(a + b)
print(c)

[1, 2, 3, 4, 5, 6]

In [54]:
# 18. Implement a code to find the intersection of two given lists
a = [4, 9, 1, 17, 11, 26, 28, 54, 69]
b = [9, 9, 74, 21, 45, 11, 63, 28, 26]

res = list(set(a) & set(b))
print(res)

[9, 26, 11, 28]

In [55]:
# 19. Create a code to find the union of two lists without duplicates
a = [1, 2, 3, 4]
b = [3, 4, 5, 6]

# Concatenate the lists
union_list = a + b

print(union_list)

[1, 2, 3, 4, 3, 4, 5, 6]

In [56]:
# 20. Write a code to shuffle a given list randomly without using any built-in shuffle functions
import random

a = [1, 2, 3, 4, 5]
random.shuffle(a)
print(a)

[4, 5, 1, 2, 3]

In [57]:
# 21. Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples
# input
tuple1 = (4, 5)
tuple2 = (7, 8)

filtered_tuples = []

for element1 in tuple1:
    for element2 in tuple2:

        filtered_tuples.append((element1, element2))

        filtered_tuples.append((element2, element1))
print(filtered_tuples)

[(4, 7), (7, 4), (4, 8), (8, 4), (5, 7), (7, 5), (5, 8), (8, 5)]

In [58]:
# 22. Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets
s1 = {1, 2, 3}
s2 = {2, 3}
print(s1.intersection(s2))

{2, 3}

In [60]:
# 23. Write a code to concatenate two tuples. The function should take two tuples as input and return a new
#tuple containing elements from both input tuples

tuple1 = (1, 2)
tuple2 = (3, 4)


result = tuple1 + tuple2

print("Concatenated Tuple:", result)

Concatenated Tuple: (1, 2, 3, 4)

In [ ]:
# 24. Develop a code that prompts the user to input two sets of strings. Then, print the elements that are
# present in the first set but not in the second set
a = "rohan"
b = "mohali"

result = set(a)-set(b)
print(result)

In [ ]:
# 25. Create a code that takes a tuple and two integers as input. The function should return a new tuple
# containing elements from the original tuple within the specified range of indices
a = [1, 2, 3, 4, 5]
res = [(n, n**3) for n in a]
print(res)

In [ ]:
# 26. Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets
A = {2, 4, 5, 6}
B = {4, 6, 7, 8}
C = {7, 8, 9, 10}

print("A U B U C:", A.union(B).union(C))
print("A U B U C:", A.union(B, C))

In [ ]:
# 27. Develop a code that takes a tuple of integers as input. The function should return the maximum and
# minimum values from the tuple using tuple unpacking
a, b, c = (100, 200, 300)

print(a)
print(b)
print(c)

In [ ]:
# 28. Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}
res1 = A | B
print("using '|':", res1)

res2 = A.union(B)
print("using union():",res2)

In [ ]:
# 29. Write a code that takes a tuple and an element as input. The function should return the count of
# occurrences of the given element in the tuple
def Count(tup, en):
    return tup.count(enq)
tup = (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
enq = 4
enq1 = 10
enq2 = 8
print(Count(tup, enq), "times")
print(Count(tup, enq1), "times")
print(Count(tup, enq2), "times")

In [ ]:
# 30. Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets
set_A = {1, 2, 3, 4, 5}
set_B = {6, 7, 3, 9, 4}
print(set_A.symmetric_difference(set_B))

In [ ]:
# 31. Write a code that takes a list of words as input and returns a dictionary where the keys are unique words
# and the values are the frequencies of those words in the input list

a = ['apple', 'banana', 'apple', 'orange', 'banana', 'banana']
b = {}
for c in a:
    b[c] = b.get(c, 0) + 1
print(b)

In [ ]:
# 32. Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are
# common keys, the values should be added together

from collections import Counter

dict1 = {'a': 12, 'for': 25, 'c': 9}
dict2 = {'Geeks': 100, 'geek': 200, 'for': 300}

Cdict = Counter(dict1) + Counter(dict2)
print(Cdict)

In [ ]:
# 33. Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of
#keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the
#function should return None
nd = {
    "fruit": {
        "apple": {
            "color": "red"
        }}}
color = nd["fruit"]["apple"]["color"]
print(color)

In [ ]:
# 34. Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You
# can choose whether to sort in ascending or descending order
import operator

a = {"Gfg": 5, "is": 7, "Best": 2, "for": 9, "geeks": 8}
res = dict(sorted(a.items()))
print(res)

In [ ]:
# 35. Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary
# correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary
dict1 = {"a": 1, "b": 2, "c": 3, "d": 2}
dict2 = {}

for i in dict1:
    dict2.setdefault(dict1[i], []).append(i)

print(dict2)